.track-operate {
  border-top: 2px solid #f3f5f6;
  border-bottom: 2px solid #f3f5f6;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  position: fixed;
  bottom: 200px;
  left: 0;
  right: 0;
}