.area-player {
  height: calc(100vh - 200px - 100px);
  display: flex;
  justify-content: center;
  background-color: #d9dee4;
  padding: 64px;
}
.player-container {
  position: absolute;
  top: 64px;
  bottom: 64px;
  left: 64px;
  right: 64px;
  margin: auto;
  overflow: hidden;
  .player-item {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
}